doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical
    p gate wind moodhisneshine gorses meow irrigation with feed throughs cheep or cabbge with pumpkin trees chicken in the straw rain barrels petting zool bulls ducks in vavvate on cauliflower irrigation seeder onoin puck up truck livcestock pets and sotrage shed throughs feed bale manura is garden wheat oats at augers petting zool bulls ducks in cabbage on cauliflower irrigation seeder onion pick uip truck livestock pets and storage shed troughts feed bael manura is garde.